<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnología</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Quantum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tecnologia">Tecnología</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ciencia">Ciencia</a>
                </li>
            </ul>
            <form action="/buscar/?" method="GET">
                <input class="buscar" type="text" placeholder="Buscar" name="buscar">
                <input class="boton" type="submit" value="Buscar">
            </form>
        </div>
    </nav>
    <main>
        <div class="container">
            <div id="homo" class="card">
                <img src="/img/homo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Homo Demus : Breve historia del mañana</h1>
                    <p class="card-text">Es un libro escrito por el autor israelí Yuval Noah Harari, profesor en la
                        Universidad Hebrea de Jerusalén y publicado por primera vez en hebreo en 2015. Las traducciones
                        al inglés y al español se publicaron en 2016. Como en el libro que le precedió, Sapiens: De
                        animales a dioses, Harari, al tiempo que describe los acontecimientos, investiga también la
                        experiencia individual humana y problemas éticos que puedan derivarse. En oposición al libro
                        anterior, Homo Deus examina el curso de la historia a partir del momento en que la humanidad se
                        ha adueñado ya del planeta, e indaga qué futuro nos puede esperar, si es que la humanidad tiene
                        futuro.
                    </p>
                </div>
            </div>

            <div class="card">
                <img src="/img/musk.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Elon Musk : El empresario que anticipa el futuro</h1>
                    <p class="card-text">Hay un hombre en el mundo que lo hace todo. Que es la perfecta combinación
                        entre Thomas Edison, Henry Ford, Howard Hughes y Steve Jobs. Se llama Elon Musk y es el
                        emprendedor que está detrás de Tesla Motors, SpaceX y SolarCity, las empresas más innovadoras de
                        sus respectivos campos-la automovilística, la aeronáutica y la energía-, con las que Musk está
                        consiguiendo convertir en realidad lo que hasta hace poco no era más que ciencia ficción. Esta
                        es la fascinante historia de la tumultuosa ascensión a las cumbres del mundo empresarial de
                        Musk, un hombre que ha revolucionado la industria estadounidense rompiendo todos los límites de
                        la innovación, y ganándose de forma inevitable unos cuantos enemigos por el camino.
                    </p>
                </div>
            </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>